.questions {
  margin-top: 83px;
}

.questions__item {
  font-size: 32px;
  display: block;
  max-width: 625px;
  width: 50vw;
  font-weight: 600;
}

@media screen and (max-width: 750px) {
  .questions__item {
    font-size: 26px;
    max-width: 400px;
  }
}

@media screen and (max-width: 450px) {
  .questions__item {
    font-size: 16px;
  }
}
